<link rel="stylesheet" href="../includes/footer.css">
<footer id="footer">

  <div class="leftFooter">
    <img src="../images/mini_logo_cropped.webp">
  </div>


  <div class="titre_footer">
    <h2 style="font-size: 30px;">NEXUS tournament</h2>
  </div>

  <div class="rightFooter">

    <p> Projet réaliser dans le cadre d'études d'ingenieurs par <br>
       LORIDANT Tom, CAUCHE Paul, DELERUE Adrien, VEGNADUZZI <br>
       Mathis, VANDEVOIR Victor, HUBERT Mathieu, COPPIN Leo, DEMANZE Chloé
    </p>

  </div>


</footer>