<link rel="stylesheet" href="../includes/footer.css">
<footer id="footer">
    <div class="reseaux">
        <h2>Réseaux sociaux</h2>
        <ul>
          <li><a class = "insta" href="#" >INSTAGRAM<img id ="logo2" src="https://cdn.glitch.global/37d376e5-d19b-4c81-9ccf-ab1b2f553e00/5ca4860a5d32fb0b9e2ac5a8-instagram.png?v=1668501430681" alt="Logo_Insta"> </a></li>
          <li><a class = "youtube" href = "#">YOUTUBE<img id="logo3" src ="https://cdn.glitch.global/37d376e5-d19b-4c81-9ccf-ab1b2f553e00/5ca487bf5d32fb0b9e2ac5ac-youtube.png?v=1669106839387" alt="Logo_Youtube"></a></li>
          <li><a class="twitter" href = "#">TWITTER<img id="logo4" src = "https://cdn.glitch.global/37d376e5-d19b-4c81-9ccf-ab1b2f553e00/5ca487595d32fb0b9e2ac5aa-twitter.png?v=1669107190949" alt="Logo_Twitter"></a></li>
       </ul>
      </div>
      <div class="contacter">
        <h2>Nous contacter</h2>
        <ul>
         <li><p>E-mail :  Ferrari.corp@gmail.com</p></li>
         <li><p>Téléphone : 0650184350</p></li>
         <li><a href="contact.html">Formulaire de contact</a></li>
        </ul>
      </div>
      <div class="legal">
        <h2>Mentions légales</h2>
        <ul>
            <li><a href="#">Conditions générales d’utilisation</a></li>
            <li><a href="#">Conditions Générales de Vente</a></li>
            <li><a href="#">Politique de Confidentialité</a></li>
          </ul>
      </div>
</footer>