<link rel="stylesheet" href="../includes/footer.css">
<footer id="footer">

  <div class="leftFooter">
    <img src="../images/mini_logo_cropped.webp">
  </div>

  <div class="rightFooter">

    <p> Projet réaliser dans le cadre d'études d'ingenieurs par <br>
       LORIDANT Tom, CAUCHE Paul, DELERUE Adrien, VEGNADUZZI Mathis,VANDEVOIR Victor, <br>
       HUBERT Mathieu, COPPIN Leo
    </p>

  </div>

  <div class="titre">
    <h2>NEXUS tournament</h2>
  </div>


</footer>