header {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px 10px;
    box-sizing: border-box;

    font-family: monospace;
}

header .leftHeader, header .rightHeader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .leftHeader img {
    height: 90%;
    border-radius: 100%;
    box-shadow: 0px 0px 3px 0px black;
}

header .headerTitleBox {
    height: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    line-height: 20px;
}

header .title {
    height: 20px;
    font-weight: 800;
}

header .subtitle {
    height: 20px;
}

header a {
    border: 2px solid #00559a;
    border-radius: 8px;
    display: block;
    padding: 10px 10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    background-color: #00559a;
    color: white;
    transition: all .2s ease-in-out;
}

header #loginBtn:hover, header #signupBtn:hover {
    color: #00559a;
    background-color: white;
}

header #profile_icon_btn {
    background: none;
    padding: 0px;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
    height: 50px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    overflow: hidden;
}

header #profile_icon_btn.default {
    padding: 5px;
}

header #profile_icon_btn.default:hover {
    filter: invert(1);
    border-color: white;
    background-color: white;
    outline: 0;
}

header #profile_icon_btn img {
    height: 100%;
}

header #account_menu {
    padding: 5px;
    overflow: hidden;
    width: 0px;
    transition: all .5s ease-in-out;

    display: flex;
    flex-direction: row;
}

header #account_menu.opened {
    padding: 5px;
    width: 265px;
}