<link rel="stylesheet" href="../includes/header.css">
<header>
    <div class="burger-container">
        <span class="burger-button"></span>
    </div>
    <div class="leftHeader">
        <img src="../images/mini_logo_cropped.webp">
        <div class="headerTitleBox">
            <div class="title">NEXUS</div>
            <div class="subtitle">tournament</div>
        </div>
    </div>
    <div class="rightHeader">
        <a href="/" class="Btn">Accueil</a>
        <% if(!user) { %>
            <a href="../login" class="Btn" id="loginBtn">Se connecter</a>
            <a href="../signup" class="Btn" id="signupBtn">Créer un compte</a>
        <% } else { %>
            <% if(user.admin) { %>
                <a href="../admin" class="Btn">Page admin</a>
            <% } %>
            <button onclick="document.querySelector('#account_menu').classList.toggle('opened')" class="default" id="profile_icon_btn">
                <img src="../images/profile_icon.svg">
            </button>
            <div id="account_menu">
                <a href="../disconnect" class="Btn">Se déconnecter</a>
                <a href="../profil" class="Btn">Mon profil</a>
            </div>
        <% } %>
    </div>

    <script>
        async function getProfilePictureURL() {
            const response = await fetch('/getProfilePictureURL', {
                method: "POST"
            });
            const result = await response.json();

            if(result.profilePicture) {
                document.querySelector("#profile_icon_btn img").src = '../uploads/' + result.profilePicture;
                document.querySelector("#profile_icon_btn").classList.remove('default');
            }
        }

        getProfilePictureURL();
        
        document.querySelector(".burger-container").addEventListener('click', e => {
            document.querySelector("header").classList.toggle('opened')
        })
    </script>
</header>