<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="users/404_style.css">
    <title>404 - Ressource not found</title>
</head>
<body>

    <div class="errorBox">
        <div class="big_error">404</div>
        <div class="small_msg_error">ERROR</div>

        <a href="/">Retour à la page d'accueil</a>
    </div>
    

</body>
</html>