<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Créer vos tournois, inviter des spectateurs, organiser vos matchs ! Passez vos évènements au niveau suivant.">
    <meta property="og:title" content="NEXUS Tournament">
    <meta property="og:description"
        content="Créer vos tournois, inviter des spectateurs, organiser vos matchs ! Passez vos évènements au niveau suivant.">
    <meta property="og:image" content="images/logo.jpg">
    <meta property="og:url" content="https://nexus-tournament.glitch.me/">
    <meta property="theme-color" content="#1588F5">

    <link rel="stylesheet" href="users/404_style.css">
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon">

    <title>404 - Ressource not found</title>
</head>

<body>

    <container>
        <div class="errorBox">
            <div class="big_error">404</div>
            <div class="small_msg_error">ERROR</div>

            <a id="backHomePage" href="/">Retour à la page d'accueil</a>
        </div>
    </container>


</body>

</html>