<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../includes/metadata.ejs', {user}) %>

    <link rel="stylesheet" href="users/404_page.css">
    <title>404 - Ressource not found</title>
</head>

<body>

    <%- include('../includes/header.ejs', {user}) %>
    
    <container>
        <div class="errorBox">
            <div class="big_error">404</div>
            <div class="small_msg_error">ERROR</div>

            <a id="backHomePage" href="/">Retour à la page d'accueil</a>
        </div>
    </container>
</body>

</html>