<link rel="stylesheet" href="users/header.css">
<header>
    <div class="leftHeader">
        <img src="images/mini_logo_cropped.webp">
        <div class="headerTitleBox">
            <div class="title">NEXUS</div>
            <div class="subtitle">tournament</div>
        </div>
    </div>
    <div class="rightHeader">
        <% if(!connected) { %>
            <a href="login" id="loginBtn">Se connecter</a>
            <a href="signup" id="signupBtn">Créer un compte</a>
        <% } else { %>
            <button onclick="document.querySelector('#account_menu').classList.toggle('opened')" id="profile_icon_btn"><img src="images/profile_icon.svg"></button>
            <div id="account_menu">
                <a href="disconnect">Se déconnecter</a>
                <a href="profil">Mon profil</a>
            </div>
        <% } %>
    </div>
</header>