<link rel="stylesheet" href="users/header_style.css">
<header>
    <div class="leftHeader">
        <img src="images/mini_logo_cropped.webp">
        <div class="headerTitleBox">
            <div class="title">NEXUS</div>
            <div class="subtitle">tournament</div>
        </div>
    </div>
    <div class="rightHeader">
        <% if(!connected) { %>
            <a href="login" id="loginBtn">Se connecter</a>
            <a href="signup" id="signupBtn">Créer un compte</a>
        <% } else { %>
            <a href="disconnect" id="loginBtn">Se déconnecter</a>
        <% } %>
    </div>
</header>