* {
    font-family: monospace;
}

body {
    margin: 0;
    background: rgb(0,117,255);
    background: radial-gradient(circle, rgba(0,117,255,1) 0%, rgba(162,162,162,1) 75%);
    height: 100vh;
    width: 100%;
}

container {
    height: 100%;
    width: 100%;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 100px;
    color:white;
    font-weight: 600;
    margin: 0;
}

.errorBox {
    /* transform: rotate(-8deg); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_error {
    /* letter-spacing: 30px; */
    font-size: 200px;
    font-weight: 600;
    line-height: 150px;
}

.small_msg_error {
    font-size: 100px;
}

.scrolling-box {
    display: flex; /* Utilise Flexbox */
    flex-wrap: nowrap; /* Empêche les cartes de passer à la ligne */
    overflow-x: auto; /* Ajoute un défilement horizontal si nécessaire */
    gap: 10px; /* Espacement entre les boutons */
    padding: 10px;
    scrollbar-width: none; /* Pour les navigateurs compatibles (Firefox) */
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
}

.card {
    flex: 0 0 auto; /* Empêche les cartes de rétrécir ou de s'étirer */
    display: flex; /* Assure que le contenu interne s'adapte bien */
    flex-direction: column; /* Dispose le contenu interne verticalement */
    align-items: center; /* Centre horizontalement le contenu */
    justify-content: center; /* Centre verticalement le contenu */
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 150px; /* Largeur fixe pour chaque bouton */
    background: white;
}

.card-button {
    width: 100%; /* Prend toute la largeur de la carte */
    border: none;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.scrolling-box::-webkit-scrollbar {
    display: none; /* Pour Chrome, Safari et Edge */
}
