<link rel="stylesheet" href="users/modification.css">
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        try {
            const url = 'http://localhost:3000/getAccountInfo'; // URL de la requête
            const response = await fetch(url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({}) // Corps de la requête (peut être vide ici)
            });

            if (response.ok) {
                const result = await response.json();

                document.querySelector('input[name="lastname"]').placeholder = result.infoUser.lastname
                document.querySelector('input[name="firstname"]').placeholder = result.infoUser.firstname
                document.querySelector('input[name="pseudo"]').placeholder = result.infoUser.username
                document.querySelector('input[name="mail"]').placeholder = result.infoUser.email
                document.querySelector('input[name="country"]').placeholder = result.infoUser.country

                console.log(result);
            } else {
                console.error("Erreur lors de la requête :", response.statusText);
            }
        } catch (error) {
            console.error("Une erreur s'est produite :", error);
        }
    });
</script>


<body>
<h2>Modification du compte</h2>
<div class="container">
<h3>Noms</h3>
<form method="post" action="../modification">
<div class="row">
    <div class="col-3 input-effect">
        <input class="textbox" type="text" name="lastname" placeholder="" required>
        <label>Nom</label>
        <span class="focus-border"></span>
    </div>
    <div class="col-3 input-effect">
        <input class="textbox" type="text" name="firstname" placeholder="" required>
        <label>Prénom</label>
        <span class="focus-border"></span>
    </div>
    <div class="col-3 input-effect">
        <input type="text" class="textbox" name="pseudo" placeholder="" required>
        <label for="pseudo">Pseudo</label>
        <span class="focus-border"></span>
    </div>

</div>
<h3>Mail & Mot de Passe</h3>
<div class="row">
    <div class="col-3 input-effect">
        <input class="textbox" type="text" name="mail" placeholder="" required>
        <label>Mail</label>
        <span class="focus-border"></span>
    </div>
    <div class="col-3 input-effect">
        <input class="textbox" type="text" name="password" placeholder="" required>
        <label>Mot de Passe</label>
        <span class="focus-border"></span>
    </div>

</div>
<h3>Localisation</h3>
<div class="row">
    <div class="col-3 input-effect">
        <input class="textbox" type="text" name="region" placeholder="" required>
        <label>Région</label>
        <span class="focus-border"></span>
    </div>
    <div class="col-3 input-effect">
        <input class="textbox" type="text" name="country" placeholder="" required>
        <label>Pays</label>
        <span class="focus-border"></span>
    </div>
    <div class="col-3 input-effect">
        <input class="textbox" type="text" name="postal-code" placeholder="" required>
        <label>Code Postal</label>
        <span class="focus-border"></span>
    </div>

</div>
<div class="round-circle">
    <img src="users/shrek-5.jpg" alt="Photo de profil" class="profile-image">
</div>
<p class="profile-text">Modifier la photo de profil</p>
<button type="submit">Modifier</button>
</form>

</body>
</html>