<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../includes/metadata.ejs', {user}) %>

    <link rel="stylesheet" href="../users/user_sign_in.css">
    <title>Page de connexion</title>
</head>

<body>
    <%- include('../includes/header.ejs', {user}) %>

    <div class="container">
        <div class="d-flex justify-content-center align-items-center header-container">
            <a href="/home">
                <button class="annuler" aria-label="Retour à la page d'accueil">Annuler</button>
            </a>
            <h1 class="header-title">Connexion</h1>     
        </div>

        <main>
            <div class="form-container">
                <form method="post" action="../signin" id="login-form" novalidate>
                    <div class="row">
                        <!-- Champ Email -->
                        <div class="col-3 input-effect">
                            <input 
                                type="email" 
                                class="textbox effect-16" 
                                name="email" 
                                id="email" 
                                placeholder="" 
                                required>
                            <label>Email</label>
                            <span class="focus-border"></span>
                        </div>

                        <!-- Champ Mot de Passe -->
                        <div class="col-3 input-effect">
                            <input 
                                type="password" 
                                class="textbox effect-16" 
                                name="password" 
                                id="password" 
                                placeholder="" 
                                required>
                            <label>Mot de Passe</label>
                            <span class="focus-border"></span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="connecter-container">
                <button type="submit" form="login-form" class="connecter">Se connecter</button>
                <p class="pas_de_compte">Pas encore de compte ?</p>
                <a href="/signup">
                    <button class="inscrire">Inscrivez-vous</button>
                </a>
            </div>
        </main>
    </div>

    <script>
        // Effet sur les inputs
        document.addEventListener("DOMContentLoaded", function () {
            const inputs = document.querySelectorAll(".effect-16");

            inputs.forEach(input => {
                input.addEventListener("focusout", function () {
                    if (input.value !== "") {
                        input.classList.add("has-content");
                    } else {
                        input.classList.remove("has-content");
                    }
                });
            });
        });
    </script>
    <%- include('../includes/footer.ejs', {user}) %>
</body>

</html>
