body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 0.5em 0.5em;
    padding: 1em;
    background-color: white;    
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Titre centré */
.header-title {
    /* Espacement interne */
    background-color: #D9D9D9;
    /* Couleur de fond claire */
    border-radius: 8px;
    /* Coins arrondis */
    margin: 0 auto;
    /* Centre le titre */
}

.header-container {
    display: flex;
    align-items: center; /* Aligne le bouton et le titre verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    position: relative; /* Permet un positionnement précis pour le bouton */
    height: 100px; /* Hauteur de l'en-tête */
}

.annuler {
    position: absolute; /* Place le bouton indépendamment du titre */
    left: 10px; /* Distance depuis le bord gauche */
    top: 50%; /* Centre verticalement */
    transform: translateY(-50%); /* Ajuste le centre exact */
    border: none;
    /* Taille du texte */
    color: white;
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer;
    background-color: #d9534f; /* Rouge */
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.annuler:hover{
    background-color: #e56864;
}

.connecter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.connecter, .inscrire {
    border: none;
    padding: 0.5em 2em;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 20em;
    height: 3em;
    text-align: center;
}

.connecter {
    background-color: #48adb6;
}

.connecter:hover {
    background-color: #48b6b4;
}

.inscrire {
    background-color: #b6b448;
}

.inscrire:hover {
    background-color: #c7c54e;
}

.deja_un_compte {
    color: #333;
    margin: 0;
}

.row{
    float:right; 
    width: 100%; 
    padding: 20px 0px 50px; ;
}


.col-span-3 {
    position:absolute;
    left: 20.6em;
}

button:hover {
    background-color: #45a049;
}


:focus {
    outline: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
}

.col-3 {
    position: relative;
    width: 300px;
    margin-bottom: 1.5em;
}

/* Effet 16 sur les inputs */
.textbox {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
}

.textbox ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #48adb6;
    transition: 0.4s;
}

.textbox:focus ~ .focus-border,
.has-content.textbox ~ .focus-border {
    width: 100%;
}

.textbox ~ label {
    position: absolute;
    left: 0;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
}

.effect-16:focus ~ label,
.has-content.effect-16 ~ label {
    top: -16px;
    font-size: 12px;
    color: #48adb6;
}


.col-3, .col-3-der {
    position: relative;
    width: 300px;
    margin-bottom: 1.5em;
}

.col-3-der{
    margin-bottom: 0.75em;
}

/* Effet 16 sur les inputs */
.textbox {
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #ccc;
    background: transparent;
}

.textbox ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #48adb6;
    transition: 0.4s;
}

.textbox:focus ~ .focus-border,
.has-content.textbox ~ .focus-border {
    width: 100%;
}

.textbox ~ label {
    position: absolute;
    left: 0;
    top: 9px;
    color: #aaa;
    transition: 0.3s;
}

.effect-16:focus ~ label,
.has-content.effect-16 ~ label {
    top: -16px;
    font-size: 12px;
    color: #48adb6;
}

.photo {
    position: absolute;
    text-align: center;

    top:60%;
    /* Centre verticalement */
    left: auto;
    right: 20px;
    /* Positionné à droite avec un espace de 20px */
    transform: translateY(-50%);
    /* Ajuste pour centrer parfaitement verticalement */
    text-align: center;
    /* Centre le contenu textuellement */
}

.round-circle {
    background-color: gray;
    border-radius: 50%;
    margin: 0 auto 20px auto; /* Centre horizontalement et ajoute un espacement avec le formulaire */
    position: relative;
    overflow: hidden; /* Assure que l'image reste dans le cercle */
}

.profile-image {
    width: 100%; /* Remplit tout le cercle */
    height: 100%;
    object-fit: cover; /* Maintient les proportions de l'image */
    border-radius: 50%;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre les éléments du formulaire */
}

.file-input {
    display: none; /* Cache le champ de fichier natif */
}

.file-label {
    display: inline-block;
    background-color: #b6b448;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    /* Espacement avec la ligne de texte */
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #c7c54e;
}

.file-name {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px; /* Espacement avec le bouton de téléchargement */
}

.upload-button {
    padding: 10px 20px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #1976D2;
}


@media only screen and (min-width: 960px) {
    .header-title {
        padding: 0.2em 6em;
    }
    .annuler {
        padding: 0.5em 1.5em; /* Espacement interne */
        font-size: 1em; /* Taille du texte */
    }
    .photo {
        width:200px;
        height:400px;
        margin: 3em;
    }

    .round-circle {
        width: 150px;
        height: 150px;
    }

    .file-label {
        padding: 10px 20px;
        font-size: 14px;
    }

    footer {
        height: 250px;
        flex-direction: row;
    }

    footer div h2 {
        font-size: 16px;
        margin-bottom: 40px;
    }

    footer a,
    footer .contacter p {
        font-size: 12px;
        line-height: 40px;
    }

}

@media only screen and (min-width: 580px) and (max-width: 960px) {
    .header-title {
        padding: 0.2em 4em;
    }
    .annuler {
        padding: 0.5em 1.5em; /* Espacement interne */
        font-size: 0.8em; /* Taille du texte */
    }
    .photo {
        width:200px;
        height:400px;
        margin: 1em;
    }

    .round-circle {
        width: 100px;
        height: 100px;
    }
    .photo {
        width:100px;
    }

    .file-label {
        padding: 8px 16px;
        font-size: 12px;
    }
    footer {
        height: 250px;
        flex-direction: row;
    }

    footer div h2 {
        font-size: 14px;
        margin-bottom: 30px;
    }

    footer a,
    footer .contacter p {
        font-size: 10px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 580px) {
    .photo {
        display:none;
    }
    .header-title {
        padding: 0.2em 3em;
    }
    .annuler {
        padding: 0.5em 1.5em; /* Espacement interne */
        font-size: 0.5em; /* Taille du texte */
    }
    .file-label {
        padding: 5px 10px;
        font-size: 10px;
    }

}