<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="users/user_sign_up.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
</head>
<style>

</style>

<body>
    <div class="container"></div>
    <h2>Inscription</h2>
    <form method="post" action="../signin">
        <div class="row">
            <div class="col-3 input-effect">
                <input type="text" class="textbox" name="email" placeholder="" required>
                <label for="email">Email</label>
                <span class="focus-border"></span>
            </div>
            <div class="col-3 input-effect">
                <input type="text" class="textbox" name="password" placeholder="" required>
                <label for="mdp">Mot de Passe</label>
                <span class="focus-border"></span>
            </div>


            <div class="inscription">
                <button type="submit">S'inscrire</button>
            </div>
        </div>

    </form>

</body>

</html>
