<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../includes/metadata.ejs', {user}) %>

    <title>Mon profil</title>

    <link rel="stylesheet" href="../users/user_profil.css">

</head>

<body>

    <%- include('../includes/header.ejs', {user}) %>


    <div class="photo">
        <div class="round-circle">
            <img id="preview-image" src="photo" alt="" class="profile-image">
        </div>

        <div class="container mt-5">
            <div class="button-container">
                <a href="home">
                    <button class="deconect">QUITTER</button>
                </a>

                <a href="modification">
                    <button class="modifier">MODIFIER</button>
                </a>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-4 header-container">
                <h1 class="header-title">Votre profil</h1>
            </div>
            <img class="profilePicture" src="../images/profile_icon.svg">
        </div>



        <!-- Tournois à venir avec défilement horizontal -->
        <h3>Tournois à venir</h3>
        <div class="scrolling-box">

        </div>
        <h3>Tournois passés</h3>
        <div class="scrolling-box2">

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            try {
                const url = '/displayProfilTournament'; // URL de la requête
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({}) // Corps de la requête (peut être vide ici)
                });
                if (response.ok) {
                    const result = await response.json();

                    const scrollingBox = document.querySelector(".scrolling-box");
                    const scrollingBox2 = document.querySelector(".scrolling-box2");
                    result.tournaments.forEach(tournament => {

                        if (tournament.Date >= new Date().toISOString().split('T')[0]) {

                            const card = document.createElement("div");
                            card.className = "card";

                            // Crée un bouton pour chaque tournoi
                            const button = document.createElement("button");
                            button.className = "card-button";
                            button.innerHTML = `
            <h5 class="card-title">${tournament.Nom}</h5>
            <p class="card-text">Lieu: <em>${tournament.Lieu}</em></p>
            <p class="card-text">Date: <em>${tournament.Date}</em></p>
        `;

                            // Ajoute un événement de clic pour rediriger
                            button.addEventListener("click", () => {
                                window.location.href = `Tournament_display?id=${tournament._id}`;
                            });

                            // Ajoute le bouton à la carte
                            card.appendChild(button);
                            scrollingBox.appendChild(card);
                        }
                        else {
                            const card = document.createElement("div");
                            card.className = "card";

                            // Crée un bouton pour chaque tournoi
                            const button = document.createElement("button");
                            button.className = "card-button";
                            button.innerHTML = `
            <h5 class="card-title">${tournament.Nom}</h5>
            <p class="card-text">Lieu: <em>${tournament.Lieu}</em></p>
            <p class="card-text">Date: <em>${tournament.Date}</em></p>
        `;
                            // Ajoute un événement de clic pour rediriger
                            button.addEventListener("click", () => {
                                window.location.href = `Tournament_display?id=${tournament._id}`;
                            });

                            // Ajoute le bouton à la carte
                            card.appendChild(button);
                            scrollingBox2.appendChild(card);
                        }
                    });
                }

                else {
                    console.error("Erreur lors de la requête :", response.statusText);
                }
            } catch (error) {
                console.error("Une erreur s'est produite :", error);
            }
        });

        async function getProfilePictureURL() {
            const response = await fetch('/getProfilePictureURL', {
                method: "POST"
            });
            const result = await response.json();

            if (result.profilePicture) {
                document.querySelector(".profilePicture").src = 'uploads/' + result.profilePicture;
            }
        }

        getProfilePictureURL()

    </script>
<%- include('../includes/footer.ejs', {user}) %>
</body>

</html>