<!DOCTYPE html>
<html lang="fr">

<head>
    <link rel="stylesheet" href="users/user_sign_in.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion</title>
</head>

<body>
    <div class="container">

        <header class="d-flex justify-content-center align-items-center header-container">
            <a href="home.ejs">
                <button class="annuler" aria-label="Retour à la page d'accueil">Annuler</button>
            </a>
            <h1 class="header-title">Connection</h1>
        </header>

        <main>
            <div class="form-container">
                <form method="post" action="../signin" id="login-form" novalidate>
                    <div class="row">
                        <div class="col-3 input-effect">
                            <input 
                                type="email" 
                                class="textbox" 
                                name="email" 
                                placeholder="Mail" 
                                id="email" 
                                required >
                            <label for="email">Email</label>
                            <span class="focus-border"></span>
                        </div>
                        <div class="col-3 input-effect">
                            <input 
                                type="password" 
                                class="textbox" 
                                name="password" 
                                placeholder="Mot de passe" 
                                id="password" 
                                required >
                            <label for="password">Mot de Passe</label>
                            <span class="focus-border"></span>
                        </div>
                    </div>

                    
                </form>
            </div>

            <div class="connecter-container">
                <button type="submit" form="login-form" class="connecter">Se connecter</button>
                <p class="pas_de_compte">Pas encore de compte ?</p>
                <a href="signup.ejs">
                    <button class="inscrire">Inscrivez-vous</button>
                </a>
            </div>
        </main>

    </div>

    <script>
            document.getElementById('login-form').addEventListener('submit', function(event) {
            const email = document.getElementById('email');
            const password = document.getElementById('password');
            
        });

    </script>
</body>

</html>
