/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80em;
    margin: 0.5em;
}

.header-title {
    padding: 0.2em 6em; /* Espacement interne */
    background-color: #D9D9D9; /* Couleur de fond claire */
    display: inline-block; /* Ajuste la taille du rectangle autour du texte */
    border-radius: 8px; /* Coins arrondis (facultatif) */
}
.header-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100px; /* Ajustez la hauteur pour centrer verticalement */
}

.scrolling-box {
        width: 100%;
        overflow-x: scroll; /* Permet le défilement horizontal */
        white-space: nowrap;
        padding: 10px;
        border: none;
        margin-bottom: 20px;
    }
/* Cacher la barre de défilement pour les navigateurs basés sur WebKit */
.scrolling-box::-webkit-scrollbar {
    display: none;
}
/* Cacher la barre de défilement pour Firefox */
.scrolling-box {
    scrollbar-width: none;
}

.scrolling-box .card {
    display: inline-block;
    width: 200px;
    height: 150px;
    margin-right: 10px;
    background-color: #e9ecef;
    text-align: center;
    padding: 10px;
}
.scrolling-box .card h5 {
    margin-bottom: 10px;
}

.create_tournament {
    border: none;
    padding: 0.2em 2em;
    display: inline-block;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: #968f8f;
}
.deconect {
    border: none;
    padding: 0.2em 2em;
    display: inline-block;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background-color: #b64848;
}

/* Image du tournoi */
.tournament-image-box {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 14px;
    color: #6c757d;
    border: 1px solid #ccc;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}


